.bn-block-content {
  font-family: Raleway, system-ui, Avenir, Helvetica, Arial, sans-serif;

  & h1 {
    font-size: xx-large;
  }

  & h2 {
    font-size: x-large;
  }

  & h3 {
    font-size: large;
  }

  font-size: small;
}
